@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

/* Tailwind 4 Theme Variables */
@theme {
  --font-sans: Inter, system-ui, sans-serif;

  --color-primary: #2b869c;
  --color-navy-deep: #070a3a;
  --color-deep-berry: #1e2049;
  --color-mistt: #dee4e6;
  --color-slate-muted: #737a92;
}

/* Global Styles */

body {
  font-family: var(--font-sans);
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}
